# Python Implementation of Gradient Descent Algorithm
### Gradient descent is an optimization algorithm which is commonly-used to train machine learning models and neural networks

In [1]:
# Importing modules
import pandas as pd

In [2]:
# Training data
x = [1, 2]
y = [300, 500]

In [3]:
# Function computing cost (J)
def compute_cost(x, y, w, b):
    
    m = len(x)
    cost = 0
    
    for i in range(0, m):
        fx = (w * x[i]) + b
        cost += (fx - y[i])**2
        
    total_cost = (1/(2*m))*cost
    
    return total_cost

In [4]:
# Function computing (w, b)
def compute_gradient(x, y, w, b, alpha):
    
    m = len(x)
    dj_dw = 0
    dj_db = 0
    
    for i in range(0, m):
        fx = (w * x[i]) + b
        temp_dj_dw = (fx - y[i])*x[i]
        temp_dj_db = fx - y[i]
        dj_dw += temp_dj_dw
        dj_db += temp_dj_db
    
    w = w - alpha*(dj_dw/m)
    b = b - alpha*(dj_db/m)
    
    return [w, b]

In [5]:
# Initializing parameters
init_w = 0
init_b = 0
alpha = 1.0e-1
iterations = 1000

# Initialining variables
history_j =[]
history_w = []
history_b = []

# Executing Gradient Descent
w = init_w
b = init_b
for i in range(0, iterations+1):
    cost = compute_cost(x, y, w, b)
    parameters = compute_gradient(x, y, w, b, alpha)
    history_j.append(cost)
    history_w.append(parameters[0])
    history_b.append(parameters[1])
    w = parameters[0]
    b = parameters[1]

In [6]:
# Dataframe
pd.DataFrame({'J_wb':history_j, 'w':history_w, 'b':history_b})

              J_wb           w           b
0     85000.000000   65.000000   40.000000
1     36731.250000  107.750000   66.250000
2     15877.265625  135.875000   83.462500
3      6867.464766  154.386875   94.735000
4      2974.786233  166.579906  102.103469
...            ...         ...         ...
996       0.000007  199.992866  100.011543
997       0.000007  199.992918  100.011459
998       0.000007  199.992970  100.011376
999       0.000007  199.993021  100.011293
1000      0.000006  199.993072  100.011210

[1001 rows x 3 columns]

In [7]:
# Make prediction
new_x = 10
print((history_w[-1]*new_x)+history_b[-1])

2099.941927496355